* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: cursive;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #913175;
  color: whitesmoke;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  background-color: #CD5888;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #20262E;
  padding: 1rem;
  margin: 2rem 0;
  background: rgb(254, 216, 223);
}
.heading span {
  color: #CD5888;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 450px) {
  .heading {
    font-size: 3rem;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #E9E8E8;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header .logo {
  font-size: 3rem;
  color: #20262E;
  font-weight: bolder;
}
.header .logo span {
  color: #CD5888;
}
.header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #20262E;
}
.header .navbar a:hover {
  color: #CD5888;
}
.header .icons {
  display: flex;
}
.header .icons a {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #20262E;
}
.header .icons a:hover {
  color: #CD5888;
}
.header #toggler {
  display: none;
}
.header .menu-bar {
  font-size: 3rem;
  color: #20262E;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border: 0.1rem solid #20262E;
  display: none;
}

@media (max-width: 768px) {
  .header .menu-bar {
    display: block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: whitesmoke;
    border-top: 0.1rem #20262E solid;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: white;
    border: 0.1rem solid #20262E;
    display: block;
  }
  .header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 2rem;
  }
}
.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/hero.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.home .gradient {
  position: absolute;
  background: #20262E;
  opacity: 0.9;
  z-index: 1;
  width: 100%;
  left: 0%;
  right: 0;
  height: 100%;
}
.home .content {
  max-width: 50rem;
  position: absolute;
  z-index: 2;
}
.home .content h3 {
  font-size: 6rem;
  color: whitesmoke;
}
.home .content span {
  font-size: 3.5rem;
  color: #CD5888;
  padding: 1rem 0;
  line-height: 1.5;
}
.home .content p {
  font-size: 1.5rem;
  color: gray;
  padding: 1rem 0;
  line-height: 1.5;
}

@media (max-width: 991px) {
  .home {
    background-position: left;
  }
}
@media (max-width: 768px) {
  .home .content h3 {
    font-size: 5rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 2rem;
  }
}
.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}
.about .row .vidoe-container {
  flex: 1 1 40rem;
  position: relative;
}
.about .row .vidoe-container video {
  width: 100%;
  border: 1.5rem solid white;
  border-radius: 0.5rem;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about .row .vidoe-container h3 {
  position: absolute;
  top: 35%;
  width: 100%;
  transform: translateY(50%);
  font-size: 3rem;
  background: white;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}
.about .row .content {
  flex: 1 1 40rem;
}
.about .row .content h3 {
  font-size: 3rem;
  color: #20262E;
}
.about .row .content p {
  font-size: 1.5rem;
  color: gray;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

.icons-container {
  background-color: #E9E8E8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.icons-container .icons {
  background-color: white;
  border: 0.1rem solid #20262E;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
  border-radius: 0.5rem;
}
.icons-container .icons img {
  height: 5rem;
  width: 5rem;
  margin-right: 2rem;
}
.icons-container .icons .info h3 {
  color: #20262E;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}
.icons-container .icons .info span {
  color: gray;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .icons-container .icons h3 {
    font-size: 2rem;
  }
  .icons-container .icons span {
    font-size: 1.7rem;
  }
}
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.products .box-container .box {
  flex: 1 1 40rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
  border: 0.1rem solid #20262E;
  position: relative;
}
.products .box-container .box:hover .image img {
  transform: scale(1.1);
}
.products .box-container .box:hover .image .icons {
  bottom: 0;
}
.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: #913175;
  background-color: rgb(254, 216, 223);
  z-index: 1;
  border-radius: 0.5rem;
}
.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 100%;
  width: 100%;
}
.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  display: flex;
  width: 100%;
}
.products .box-container .box .image .icons a {
  width: 50%;
  height: 5rem;
  line-height: 5rem;
  background-color: #CD5888;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .box-container .box .image .icons a:hover {
  background-color: #913175;
}
.products .box-container .box .image .icons .cart-btn {
  width: 100%;
  border-left: 0.1rem solid #E9E8E8;
  border-right: 0.1rem solid #E9E8E8;
}
.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #20262E;
}
.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: #CD5888;
  padding-top: 1rem;
  font-weight: bolder;
}
.products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: gray;
  text-decoration: line-through;
  font-weight: lighter;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.review .box-container .box {
  flex: 1 1 30rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  position: relative;
  border: 0.1rem solid #20262E;
}
.review .box-container .box .quote-right {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  z-index: -1;
  color: rgb(233, 233, 233);
}
.review .box-container .box .user {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.review .box-container .box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.review .box-container .box .user .user-info h3 {
  font-size: 2rem;
  color: #20262E;
}
.review .box-container .box .user .user-info span {
  font-size: 1.5rem;
  color: gray;
}
.review .box-container .box .stars {
  color: rgb(209, 209, 13);
  font-size: 2rem;
  display: flex;
}
.review .box-container .box p {
  color: gray;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem;
}

.contect .row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  align-items: center;
}
.contect .row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0.1rem solid #20262E;
  background-color: white;
  border-radius: 0.5rem;
}
.contect .row form .box {
  padding: 1rem;
  font-size: 1.7rem;
  color: #20262E;
  text-decoration: none;
  border: 0.1rem solid #20262E;
  border-radius: 0.5rem;
  margin: 0.7rem 0;
  resize: none;
  width: 100%;
}
.contect .row form .box:focus {
  border-color: #CD5888;
}
.contect .row form textarea {
  width: 15rem;
}
.contect .row .image {
  flex: 1 1 40rem;
}
.contect .row .image img {
  width: 100%;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.footer .box-container .box {
  flex: 1 1 25rem;
}
.footer .box-container .box h3 {
  color: #20262E;
  font-size: 2.5rem;
  padding: 1rem 0;
}
.footer .box-container .box a {
  color: grey;
  font-size: 1.5rem;
  padding: 1rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #CD5888;
  text-decoration: underline;
  cursor: pointer;
}
.footer .box-container .box img {
  margin-top: 1rem;
  width: 20rem;
  cursor: pointer;
}
.footer .credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #20262E;
  border-top: 0.1rem solid #20262E;
}
.footer .credit span {
  color: #CD5888;
}